---
import ResourcesLayout from "../../layouts/ResourcesLayout.astro";
import {Image} from "astro:assets";
import stars from "../../assets/performances/akatsuki.avif";
import starsb from "../../assets/performances/akatsuki-back.avif";
---
<ResourcesLayout
    title="暁の追憶 - 公演 | 劇団万絵巻"
    description="20世紀中頃、ヨーロッパ。 資源を求めて侵略をするパピリア帝国とそれに抗うシリベスタン王国は戦火に包まれていた。 人々は信じる者のために戦い、憎しみを重ね、そして多くの命が戦場に散った。 しかし、ここではある不思議な現象があった。 「影送り」。死者の想いが「影」となり、なおも生者に寄り添い、希望を託す。兄を失った一人の若き兵士もその影と出会い、戦いの意味を問い直す。 戦乱の時代に、人は何を信じ、何を残すのか。 いま、影と共に、新たな戦いが始まる――。"
>
    <header>
        <h1 class="h1 mb-3">暁の追憶</h1>
    </header>
    <div class="content">
        <Image src={stars} alt="" class="content-img"/>
        <Image src={starsb} alt="" class="content-img"/>
        <p>20世紀中頃、ヨーロッパ。 資源を求めて侵略をするパピリア帝国とそれに抗うシリベスタン王国は戦火に包まれていた。 人々は信じる者のために戦い、憎しみを重ね、そして多くの命が戦場に散った。 しかし、ここではある不思議な現象があった。 「影送り」。死者の想いが「影」となり、なおも生者に寄り添い、希望を託す。兄を失った一人の若き兵士もその影と出会い、戦いの意味を問い直す。 戦乱の時代に、人は何を信じ、何を残すのか。 いま、影と共に、新たな戦いが始まる――。</p>
        <table class="">
            <tbody>
            <tr>
                <th>期間</th>
                <td>
                    2025/12/12 (金) ～ 2025/12/14 (日)
                </td>
            </tr>
            <tr>
                <th>劇場</th>
                <td>
                    <a href="https://geijutsusozokan.jp/">大阪市立芸術創造館</a>
                </td>
            </tr>
            <tr>
                <th>脚本</th>
                <td>ニセ野源</td>
            </tr>
            <tr>
                <th>演出</th>
                <td>アドニス・ハヤト</td>
            </tr>
            <tr>
                <th>料金（1枚あたり）</th>
                <td>
                    800円 ～ 1,800円<br>
                    学生前売1,200円<br>学生当日1,500円<br>一般前売1,500円<br>一般当日1,800円<br>三人割1,000円<br>高校生以下800円<br>
                    ※学生の方は当日学生証をお持ちください。
                </td>
            </tr>
            <tr>
                <th>タイムテーブル</th>
                <td>2025年<br>12月12日(金) 18:00～<br>12月13日(土) 13:30～ / 18:00～<br>12月14日(日) 13:30～<br>※公演時間は途中休憩10分を含め150分を予定しております。<br>※受付開始・開場は開演時間の30分前になります。
                </td>
            </tr>
            <tr>
                <th>スタッフ</th>
                <td>演出補佐:消し炭ショコラ、ダンサー、ガラキー<br>舞台監督:カメX.P.C<br>大道具:東琴音、犀音<br>小道具:無笛<br>音響:コン<br>照明:つばき<br>衣装:ダッシャー<br>広報:鯖イ82尹<br>制作:ルービック<br>振付:ポイズンマスター<br>殺陣:イド
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</ResourcesLayout>

<style>
    .content-img {
        max-width: 100%;
        height: auto;
    }
</style>
