---
import ResourcesLayout from "../../layouts/ResourcesLayout.astro";
import {Image} from "astro:assets";
import stars from "../../assets/performances/akatsuki.avif";
import starsb from "../../assets/performances/akatsuki-back.avif";
---
<ResourcesLayout
    title="cLock “I” - 公演 | 劇団万絵巻"
    description="某国の中央街、ロンドシティ。今から10年前、流行病に侵されたこの街は、ギャング組織「アルカディア」によって救われた過去を持つ。そして現在に至るまで、彼らと街の人々は良好な関係を築き、支え合ってきた。だがある日、急報が街に響き渡る。「ーーアルカディアのボス、ジニアが死んだ」、と。"
>
    <header>
        <h1 class="h1 mb-3">cLock “I”</h1>
    </header>
    <div class="content">
        <Image src={stars} alt="" class="content-img"/>
        <Image src={starsb} alt="" class="content-img"/>
        <p>某国の中央街、ロンドシティ。今から10年前、流行病に侵されたこの街は、ギャング組織「アルカディア」によって救われた過去を持つ。そして現在に至るまで、彼らと街の人々は良好な関係を築き、支え合ってきた。だがある日、急報が街に響き渡る。
「ーーアルカディアのボス、ジニアが死んだ」、と。</p>
        <table class="">
            <tbody>
            <tr>
                <th>期間</th>
                <td>
                    2026/3/13 (金) ～ 2026/3/14 (土)
                </td>
            </tr>
            <tr>
                <th>劇場</th>
                <td>
                    <a href="https://geijutsusozokan.jp/">茨木市立男女共生センターローズWAM<br>地下2階ワムホール<br>・JR茨木駅より東へ徒歩10分<br>・阪急茨木市駅より西へ徒歩5分</a>
                </td>
            </tr>
            <tr>
                <th>脚本</th>
                <td>ダンサー</td>
            </tr>
            <tr>
                <th>演出</th>
                <td>ダンサー</td>
            </tr>
            <tr>
                <th>料金</th>
                <td>
                    無料（カンパ制）<br>
                    <br>※カンパは任意となっております。
                </td>
            </tr>
            <tr>
                <th>タイムテーブル</th>
                <td>2026年<br>3月13日(金) 18:30～<br>3月14日(土) 12：30〜 / 16：00〜<br>※上演時間は約100分を予定しております。<br>※受付開始・開場は開演の30分前になります。
                </td>
            </tr>
            <tr>
                <th>スタッフ</th>
                <td>演出補佐:ダッシャー、ガラキー<br>舞台監督:優鷹タン<br>大道具:ハート♡ガイ<br>小道具:ガラキー<br>音響:ろっぷ<br>照明:せり<br>衣装:もぶ<br>広報:ぐぅた<br>制作:黒羽あやめ<br>振付:ぴーちぇ
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</ResourcesLayout>

<style>
    .content-img {
        max-width: 100%;
        height: auto;
    }
</style>
