---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="bg-grey-100 py-6 mt-6">
        <div class="container-sm">
            <h2 class="h2 mb-3">私たちの公演の歴史</h2>
            <p class="mb-3">
                1994年の劇団設立以来、古典的な作品から現代的な作品まで、様々な舞台を制作してきました。このアーカイブは、多様なストーリーテリングと芸術的な卓越性への私たちの取り組みを表しています。
            </p>
            <p class="">
                公演履歴の詳細情報や、研究目的のためのアーカイブ資料のリクエストについては、
                <a href="/contact/" class="link">お問い合わせ</a>ください。
            </p>
        </div>
    </section>
</Layout>
