---
---

<header class="header">
    <nav class="header-full">
        <a class="header-logo" href="">
            劇団万絵巻
        </a>
        <div class="header-menu">
            <ul class="globalmenu">
                <li class="globalmenu-item">
                    <a class="globalmenu-link" href="">公演</a>
                </li>
                <li class="globalmenu-item">
                    <a class="globalmenu-link" href="">ブログ</a>
                </li>
                <li class="globalmenu-item">
                    <a class="globalmenu-link" href="">劇団員日記</a>
                </li>
                <li class="globalmenu-item">
                    <a class="globalmenu-link" href="">お問い合わせ</a>
                </li>
            </ul>
        </div>
        <div class="header-items">
            <ul class="utilitylink-units">
                <li class="utilitylink-item">
                    <a rel="external" class="utilitylink" href="https://x.com/Yoroduwemaki">X&nbsp;(旧:Twitter)</a>
                </li>
                <li class="utilitylink-item">
                    <a rel="external" class="utilitylink" href="https://www.instagram.com/yoroduwemaki">Instagram</a>
                </li>
            </ul>
        </div>
        <div class="header-button">
            <button class="hamburger-iconbtn" type="button">
                <i class="hamburger-icon"></i>
                メニュー
            </button>
        </div>
    </nav>
</header>
