---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <main>
        <section class="container-md mt-5">
            <h1 class="h1">劇団員日記</h1>
            <div class="text-right mt-3">
                <p>ページ 1 / 345 全1335件</p>
            </div>
        </section>
        <section class="container-md mt-4">
            <article>
                <h2 class="h2">最後の自己中</h2>
                <time class="" datetime="">2025年12月20日</time>
                <div>
                </div>
            </article>
        </section>
    </main>
</Layout>
